/* :root {
  --inner-container-padding: 30px;
} */

/* @media (min-width: 375px) {
  :root {
    --inner-container-padding: 72px;
  }
} */

/* @media (min-width: 834px) {
  :root {
    --inner-container-padding: 115px;
  }
} */
