@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap');

.font-space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}
.font-space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}
.font-work-sans-regular {
  font-family: 'Work Sans', sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}
.font-work-sans-semibold {
  font-family: 'Work Sans', sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 600;
  font-style: normal;
}

/* .nav-link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: brown;
  left: 0;
  bottom: -2px;
  transition: all 0.2s ease;
  transform: scaleX(0);
  transform-origin: center;
} */

/* .nav-link-underline:hover::after {
  transform: scaleX(1);
} */
