/* backgrounds */
:root {
  --primary-dark-background-color: #2b2b2b;
  --secondary-dark-background-color: #3b3b3b;
  --primary-light-background-color: #ffffff;
  --secondary-light-background-color: #c8c5c5;

  /* texts */
  --light-primary-text-color: #ffffff;
  --light-secondary-text-color: #bab8b8;
  --dark-primary-text-color: #2b2b2b;
  --dark-secondary-text-color: #858584;

  /* accents */
  --primary-accent-color: #a259ff;

  /* shadows */
  --primary-shadow: 0px 0px 20px -3px rgba(2, 3, 16, 1);
  --secondary-shadow: 0px 0px 22px -6px rgba(18, 19, 19, 0.83);
}
