@theme {
  /*от  870px – до 1300px */
  --responsive-size-md-md: clamp(1rem, 0.329rem + 1.29vw, 1.375rem);
  --responsive-size-md-sm: clamp(0.625rem, 0.158rem + 2.33vw, 1.375rem);

  --responsive-size-sm-sm: clamp(0.625rem, 0.392rem + 1.17vw, 1rem);

  /*от 10 px до 28 px*/
  --hero-counter-number-size-10-28: clamp(0.625rem, 0.258rem + 1.84vw, 1.75rem);

  /* от 10 до 22 */
  --hero-image-text-padding-md: clamp(0.625rem, 0.38rem + 1.22vw, 1.375rem);
  --hero-image-text-padding-sm: clamp(0.625rem, 0.158rem + 2.33vw, 1.375rem);

  /*от 16 px до 28 px*/
  --hero-counter-number-size: clamp(1.375rem, 1.253rem + 0.61vw, 1.75rem);

  /*от 28 px до 67 px*/
  --hero-tytle-size: clamp(1.75rem, 0.736rem + 4.32vw, 4.25rem);

  --hero-padding: clamp(2.5rem, 1.486rem + 4.32vw, 5rem);
}
