.nftPreview-responsive {
  @media (min-width: 375px) {
    height: 590px;
  }
  @media (min-width: 834px) {
    height: 630px;
  }
  @media (min-width: 1300px) {
    height: 640px;
  }
}
.discountCountDown {
  position: relative;
}
.discountCountDown::after {
  content: ':';
  position: absolute;
  top: 20px;
  right: 0;
  left: 50px;
  bottom: 0;
}
